[user]
	name = Risky Jr
	email = 2114768901@qq.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	quotepath = false
[credential]
	helper = manager
