.leaderstyle255419{ font-size: 9pt; color: #222222 ;}
.morestyle255419{ font-size: 9pt ;}
.linkstyle255419{ color: #f5f5f5; line-height: 150%; font-family: 宋体; font-size: 12pt;}
.jumpstyle255419{ font-size: 9pt; font-family: 宋体 ;}
A.c255419 {
color: #f5f5f5; line-height: 150%; font-family: 宋体; font-size: 12pt;}
A.c255419:link {
color:#f5f5f5;}
A.c255419:visited {
color:#f5f5f5;}
A.c255419:active {
color: #f5f5f5;}
A.c255419:hover {
color: #cc0000;}
.erjifontover251172{ color: #094a93; line-height: 220%; font-size: 13pt; font-weight: bold;}
.leaderfont251172{ font-size: 9pt; color: #222222 ;}
.yijibackground251172{ height: 20px ;}
.erjibackground251172{ top: 10px; width: 181px; height: 30px; text-align: center; background-color: #094a93;}
.currentfontStyle251172{ color: #cc0000; font-size: 10pt; font-weight: bold; text-decoration: none ;}
.fontstyle251172{ color: #ffffff; line-height: 370%; font-size: 13pt; font-weight: bold; text-decoration: none;}
.yijifontover251172{ color: #094a93; line-height: 370%; font-size: 13pt; font-weight: bold; text-decoration: none;}
.erjibackgroundover251172{ border-image: none; top: 10px; height: 30px; text-align: center; background-color: #ffffff;}
.yijibackgroundover251172{ height: 20px; background-color: #ffffff;}
.ejfontstyle251172{ color: #ffffff; line-height: 220%; font-size: 13pt; font-weight: bold; text-decoration: none;}

.windowstyle251191{ font-size: 12pt; font-family: 宋体; font-weight: bold; color: #ffffff ;}

A.c251192 {
color: #222222;
font-size: 16pt;

font-weight: bold;



text-decoration: none;}
A.c251192:link {
color: #222222;}  
A.c251192:visited {
color: #222222;}  
A.c251192:active {
color: #222222;}  
A.c251192:hover {
color: #cc0000;}
.splitflagstyle251163{ color: #222222 ;}
.fontstyle251163{ font-size: 11pt; font-family: 宋体; color: #222222 ;}
.winstyle251163{ font-size: 11pt; font-family: 宋体; color: #222222 ;}

.clickstyle251194{ font-size: 11pt; font-family: 宋体 ;}
.auditstyle251194{ color: #ffffff ;}
.votetitlestyle251194{ font-size: 9pt; color: #2b2b2b; font-family: 宋体 ;}
.titlestyle251194{ font-size: 16pt; font-weight: bold ;}
.navstyle251194{ font-size: 9pt; color: #222222; font-family: 宋体; text-decoration: none ;}
.timestyle251194{ font-size: 11pt; font-family: 宋体 ;}
.contentstyle251194{ font-size: 9pt; line-height: 150% ;}
.attachfont251194{ font-size: 14pt; font-family: 宋体; font-weight: bold; line-height: 200% ;}
.authorstyle251194{ font-size: 11pt ;}
.footstyle251194{ font-size: 9pt ;}
.contextstyle251194{ font-size: 9pt; color: #222222; font-family: 宋体; text-decoration: none ;}
.winstyle251194{ font-size: 9pt; font-family: 宋体; padding-top: 5px ;}
.votestyle251194{ font-weight: bold; font-size: 11pt; color: #2b2b2b; font-family: 宋体 ;}
.pagestyle251194{ font-size: 9pt; color: #222222; font-family: 宋体 ;}
.c251194_content span{
    font-size:100%;}
.btextstyle255463{ font-family: 宋体; font-size: 12pt;}

