body {
		margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
a{
text-decoration:none;}
.keshi{
font-size:13px;
color:#555555;
font-weight:bold;
padding-top:2px;
}
.erbiaoti{
font-size:20px;


color:#086DCB;
/*
color:#38801C;*/

font-weight:bold;

}
.erxbiaoti{
font-size:13px;
color:#308909;
font-weight:bold;
word-spacing:10px;


}
.erxbiaoti a:link {color:#308909; text-decoration:none;}
.erxbiaoti a:visited {color:#308909; text-decoration:none;}
.erxbiaoti a:hover {color:#308909; text-decoration:underline;}

.banner {
       color:#ffffff;
	   font-weight:bold;
	   font-size:20px;
	  
	   
	   }
.banner a:link {color:#ffffff; text-decoration:none;}
.banner a:visited {color:#ffffff; text-decoration:none;}
.banner a:hover {color:#ffffff; text-decoration:none;}

.text {
       color:#5E5E5E;
	   font-size:14px;
             font-weight:bold;


	   }
.text a:link {color:#5E5E5E; text-decoration:none;}
.text a:visited {color:#5E5E5E; text-decoration:none;}
.text a:hover {color:#000000; text-decoration:none;}
.title {
       color:#ffffff;
	   font-size:16px;
	   font-family:"黑体";
	   
	   }
.title a:link {color:#ffffff; text-decoration:none;}
.title a:visited {color:#ffffff; text-decoration:none;}
.title a:hover {color:#ffffff; text-decoration:underline;}
.lefttext {
       color:#ffffff;
	   font-size:12px;
	   line-height:20px;	   
	   }
.lefttext a:link {color:#ffffff; text-decoration:none;}
.lefttext a:visited {color:#ffffff; text-decoration:none;}
.lefttext a:hover {color:#ffffff; text-decoration:underline;}






.lefttext1 {
       color:#ffffff;
	   font-size:18px;
              font-family:"宋体";
             LINE-HEIGHT: 150%;
	 	   }
.lefttext1 a:link {color:#ffffff; text-decoration:none;}
.lefttext1 a:visited {color:#ffffff; text-decoration:none;}
.lefttext1 a:hover {color:#ffffff; text-decoration:underline;}







.etitle {
       color:#FB8B44;
	   font-size:13px;
	   font-weight:bold;
	   padding-top:5px;
	   
	   }
.etitle a:link {color:#FB8B44; text-decoration:none;}
.etitle a:visited {color:#FB8B44; text-decoration:none;}
.etitle a:hover {color:#FB8B44; text-decoration:underline;}
.ertitle {
       color:#fff;
	   font-size:13px;
	   font-weight:bold;
	   }
.ertitle a:link {color:#fff; text-decoration:none;}
.ertitle a:visited {color:#fff; text-decoration:none;}
.ertitle a:hover {color:#fff; text-decoration:underline;}
.banquan {
       color:#747474;
	   font-size:12px;
	   line-height:20px;
	  
	   }
.banquan a:link {color:#747474; text-decoration:none;}
.banquan a:visited {color:#747474; text-decoration:none;}
.banquan a:hover {color:#818181; text-decoration:underline;}
.er {
       color:#454647;
	   font-size:12px;
	  
	   }
.er a:link {color:#454647; text-decoration:none;}
.er a:visited {color:#454647; text-decoration:none;}
.er a:hover {color:#454647; text-decoration:underline;}



















.l1-tab{

    width: 260px;

    float: left;
    height: auto;
    background:#F6F6F6;
    border-bottom: 3px solid #F0C555; 
}
.l1-tab li{
    width: 100%;
    height: 60px;
}
.l1-tab li a{
    display: block;
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 16px;
    color: #848484;
    border-bottom: 1px solid #E1E1E1;
}
.l1-tab li span{
    display: inline-block;
    opacity: 0;
    padding-left: 14px;
}
.l1-tab li:hover a{
    color: #0a5894;   
    border-bottom: 1px solid  #0a5894;   
}
.l1-tab li:hover span{
    opacity: 1;
}
.l1-tab li.on a{
    color: #0a5894;   
    border-bottom: 1px solid  #0a5894;  
}
.l1-tab li.on span{
    opacity: 1;
}




